<?xml version="1.0" encoding="utf-8"?>
<Content Key="27c13739-31ea-4dc7-99aa-c722182ac9b8" Alias="HeroPage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-11-29T18:38:19</CreateDate>
    <NodeName Default="HeroPage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="724ddee0-dcb5-4055-8503-691316388381">ContentPage</Template>
  </Info>
  <Properties>
    <heroList>
      <Value><![CDATA[[
  {
    "key": "d4fb9f02-b2b6-4b0f-9f17-a36f62f5fc53",
    "name": "Item 1",
    "ncContentTypeAlias": "hero",
    "PropType": null,
    "heroName": "Superman"
  },
  {
    "key": "9ccec356-a7c8-4075-a466-0a36de3c2631",
    "name": "Item 2",
    "ncContentTypeAlias": "hero",
    "PropType": null,
    "heroName": "Spiderman"
  },
  {
    "key": "586bfa0b-170a-49c4-b825-62bf6fa9ce96",
    "name": "Item 3",
    "ncContentTypeAlias": "hero",
    "PropType": null,
    "heroName": "Superman"
  }
]]]></Value>
    </heroList>
  </Properties>
</Content>