<?xml version="1.0" encoding="utf-8"?>
<Content Key="a29f9c8b-3c8b-4e10-820a-3a68696d9847" Alias="Home" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Home</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-12-16T15:32:42</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <age>
      <Value><![CDATA[18]]></Value>
    </age>
    <body>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
optio, eaque rerum! Provident similique accusantium nemo autem.]]></Value>
    </body>
  </Properties>
</Content>