<?xml version="1.0" encoding="utf-8"?>
<DataType Key="017ba5da-d2df-4985-b715-81ebd06ec4ab" Alias="Content Page - Nested Content (2)" Level="1">
  <Info>
    <Name>Content Page - Nested Content (2)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "hero",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>