<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0dea0d37-e746-4ab0-9b15-ca44cb0c4587" Alias="Content Page - Nested Content (1)" Level="1">
  <Info>
    <Name>Content Page - Nested Content (1)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "hero",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>