<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c470d15-306b-4ee9-a835-3e508961110b" Alias="Content Page - Nested Content" Level="1">
  <Info>
    <Name>Content Page - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "hero",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>