<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ececb85-1d34-48fd-9f33-984067f93321" Alias="Content Page - Repeatable textstrings" Level="1">
  <Info>
    <Name>Content Page - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>