<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b93e09e4-2fcc-461c-bd28-0e298428331c" Alias="Hero - Name - Textbox" Level="1">
  <Info>
    <Name>Hero - Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>